.calendar-icon {
  width: 60px;
  height: 60px;
  vertical-align: middle;
  margin: 0 4px;
  transition: transform 0.2s cubic-bezier(0.4,0,0.2,1);
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #fff;
}

.calendar-tooltip:hover .calendar-icon,
.calendar-icon.calendar-icon-scaled {
  transform: scale(1.13);

}

/* Tooltip container */
.calendar-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.calendar-tooltip .tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: #222;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  bottom: 120%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.2s;
  font-size: 0.95rem;
  white-space: nowrap;
  pointer-events: none;
}

.calendar-tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.click {
  width: 64px;
  height: 48px;
  margin-top: 4px;
  position: relative;
  display: inline-block;
}

.centered-date-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0 0 0;
}

.click-text {
    font-size: 1.2rem;
}