.seasons-style {
    font-family: 'Playfair Display', serif;
}

.century-gothic-style {
    font-family: 'Didact Gothic', sans-serif;
}

.paris-script-style {
    font-family: 'Dancing Script', cursive;
}