.map-container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
.map-image {
    width: 100%;
    height: auto;
    display: block;
}
.link-overlay {
    position: absolute;
    transform: translate(-50%, -50%);
    display: block;
}
.link-overlay img {
    width: 30px;
    height: 30px;
    max-width: 6vw;
    max-height: 6vw;
    min-width: 16px;
    min-height: 16px;
    object-fit: contain;
}
@media (max-width: 600px) {
    .link-overlay img {
        width: 7vw;
        height: 7vw;
        min-width: 16px;
        min-height: 16px;
        max-width: 24px;
        max-height: 24px;
    }
}
