:root {
    --color-primary: #333a1c;
    --color-primary-rgb: 51, 58, 28;
    --color-main-text: #271c12;
    --color-main-text-rgb: 39, 28, 18;
    --color-footer-text: #17100a;
    --color-main-bg: #f8fbec;
    --color-surface: #ffffff;
    --color-surface-rgb: 255, 255, 255;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* zapobiega przewijaniu w bok */
}

.bg-primary {
    background-color: var(--color-primary);
}

.main-color {
    color: var(--color-main-text);
}

.footer-text {
    color: var(--color-footer-text);
    margin-left: 10px;
}

.main-bg {
    background-color: var(--color-main-bg);
}

footer {
    border-bottom: none !important;
}
